<h1>Login</h1>

<form action="/login" method="POST">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button>Login</button>
</form>

<ul>
  <li><a href="/register">Sign Up!</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout!</a></li>
</ul>