<h1>Sign Up Form</h1>

<form action="/register" method="POST">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="phone" placeholder="Phone">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button>Submit</button>
</form>

<ul>
  <li><a href="/register">Sign Up!</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout!</a></li>
</ul>